In [1]:
import requests
from bs4 import BeautifulSoup
import os
import pandas as pd
import html5lib

In [2]:
url = r'https://www.jpmorganchasecc.com/results/search.php?city_id=10&search=1&gender=m&year=2017'
r = requests.get(url)

In [7]:
soup = BeautifulSoup(r.text, "lxml")
table = soup.find('table', id="results")

In [114]:
for row in table.find_all('tr')[1:]:
    col = row.find_all('td')
    print col

[<td>1</td>, <td>1</td>, <td>20628</td>, <td>\n\t\t\t\t\t\t\t  Jonathan Poole\n\t\t\t\t\t\t\t</td>, <td>17:17</td>, <td>M</td>, <td><!--<a href="/companies.php?team_id=426997">-->COMMERZBANK<!--</a>--></td>]
[<td>1023</td>, <td>1003</td>, <td>5208</td>, <td>\n\t\t\t\t\t\t\t  Richard Suddens\n\t\t\t\t\t\t\t</td>, <td>22:57</td>, <td>M</td>, <td><!--<a href="/companies.php?team_id=429219">-->EY<!--</a>--></td>]

In [137]:
place = []
bib = []
name = []
time = []
gender = []
company = []

In [138]:
for row in table.find_all('tr')[1:]:
    col = row.find_all('td')
    
    column_0 = col[0].string.strip().encode()
    place.append(column_0)
    
    column_2 = col[2].string.strip().encode()
    bib.append(column_2)
    
    column_3 = col[3].string.strip()
    name.append(column_3)
    
    column_4 = col[4].string.strip()
    time.append(column_4)
    
    column_5 = col[5].string.strip()
    gender.append(column_5)
    
    column_6 = col[6].string
    company.append(column_6)

In [141]:
columns = {'place':place,
          'bib':bib,
          'name':name,
          'time':time,
           'gender':gender,
          'company':company}

In [151]:
df = pd.DataFrame(columns, index = place)

In [153]:
df

        bib company gender                  name place   time
1     20628    None      M        Jonathan Poole     1  17:17
2      1803    None      M        Andy Greenleaf     2  17:21
3      1879    None      M          Tamas Kovacs     3  17:29
4     20597    None      M            Tom Jervis     4  17:31
5      1559    None      M         Andrew Penney     5  17:45
6     20596    None      M            James Hoad     6  17:46
7      1579    None      M          Adam  Speake     7  17:52
8     20748    None      M          James O'shea     8  17:55
9      2114    None      M            Ryan Prout     9  18:02
10     2003    None      M        Peter Hawkings    10  18:06
11     1495    None      M    Christopher Wright    11  18:12
12     1480    None      M          Andy Harding    12  18:16
13     1821    None      M  Gonzalo Entrecanales    13  18:18
14     1473    None      M            Paul Adams    14  18:18
15     1665    None      M       Cian Cunningham    15  18:21
16    21069    None      M            Chris Oddy    16  18:23
17     1478    None      M         Matthew Grant    17  18:24
18     2105    None      M      Darren Southcott    18  18:24
19     1630    None      M       Jeff Cunningham    19  18:24
20     1625    None      M     Richard Ollington    20  18:25
21     2155    None      M        David Lawrence    21  18:26
22     2018    None      M         Dominic Smith    22  18:26
23     1638    None      M         Davide Covolo    23  18:29
24     1802    None      M        Alexander Davy    24  18:30
25     1485    None      M          Will Russell    25  18:32
26    20570    None      M          Xavier Gruot    26  18:37
27     1510    None      M      Alfred  Waithaka    27  18:42
28    20589    None      M           Matt Atkins    28  18:42
29     1677    None      M         Bryn Reynolds    29  18:43
30     2083    None      M        James Williams    30  18:45
...     ...     ...    ...                   ...   ...    ...
993    4285    None      M   Michael Constantine   993  22:54
994    7806    None      M            John Ploeg   994  22:54
995    8356    None      M         Zach Chadwick   995  22:54
996    3742    None      M        David Leithead   996  22:54
997    2022    None      M            Jack Waite   997  22:54
998    4959    None      M    Maciej Gasiorowski   998  22:54
999   20823    None      M            Craig Bott   999  22:55
1000  26395    None      M        Tobias Baumann  1000  22:55
1001   6129    None      M        Freddie Farmer  1001  22:55
1002   7449    None      M         Thomas Almond  1002  22:55
1003   3277    None      M         Mathew Wilson  1003  22:55
1005  23232    None      M         Sven Gerhardt  1005  22:55
1006   7065    None      M           Simon Drath  1006  22:55
1007   7049    None      M         Robert Benson  1007  22:55
1008  26474    None      M     Nicholas Saunders  1008  22:55
1009  23821    None      M          Andrew Smith  1009  22:56
1010   1023    None      M             Ben Cooke  1010  22:56
1011   5355    None      M           Amir Safavi  1011  22:56
1012  20454    None      M        Andrew Sanders  1012  22:56
1013  21033    None      M          Conor Ludden  1013  22:56
1014  24853    None      M        Henry Adelston  1014  22:56
1015   5919    None      M            Ed Spencer  1015  22:56
1016  24024    None      M           Samuel Rees  1016  22:57
1017   2062    None      M        Alastair Bruce  1017  22:57
1018  23097    None      M        Gustavo Moreno  1018  22:57
1019   2049    None      M          Oliver Shale  1019  22:57
1020   1980    None      M       Benjamin Coisne  1020  22:57
1021  20037    None      M            Harry Boys  1021  22:57
1022  23727    None      M       Louis Vercasson  1022  22:57
1023   5208    None      M       Richard Suddens  1023  22:57

[1000 rows x 6 columns]